/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #f8f6f3;
  color: #333;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: #b48b5f;
}

.header nav {
  display: flex;
  gap: 20px;
}

.header nav a {
  text-decoration: none;
  color: #5e4630;
  font-weight: 600;
  transition: 0.3s;
}

.header nav a:hover {
  color: #b48b5f;
}

/* HERO */
.hero {
  text-align: center;
  padding: 60px 20px 40px;
}

.hero h1 {
  font-size: 48px;
  color: #2f2f2f;
  margin-bottom: 15px;
}

.hero p {
  font-size: 22px;
  color: #5f5f5f;
  max-width: 800px;
  margin: 0 auto;
}

/* CATEGORIAS */
.categorias {
  padding: 40px 20px;
}
.categoria:hover{
    transform: scale(1.1);
}

.categorias h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #7a522b;
  font-size: 28px;
}

.lista-categorias {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.categoria {
  width: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.categoria img {
  width: 95px;
  height: 95px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #b48b5f;
  display: block;
}

.categoria span {
  margin-top: 10px;
  font-weight: bold;
  color: #5e4630;
}

/* PRODUTOS */
.produtos {
  padding: 40px 20px 60px;
}

.produtos h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #7a522b;
  font-size: 28px;
}

.grade-produtos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
}

.card {
  background-color: #fff;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 3px 10px rgba(0,0,0,0.08);
}

.card img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  display: block;
}

.info {
  padding: 15px;
}

.info h3 {
  margin-bottom: 8px;
  color: #4d3a2f;
}

.info p {
  color: #777;
  margin-bottom: 10px;
}

.preco {
  display: block;
  font-weight: bold;
  color: #b48b5f;
  margin-bottom: 12px;
}

.btn {
  display: inline-block;
  text-decoration: none;
  background-color: #b48b5f;
  color: white;
  padding: 10px 16px;
  border-radius: 8px;
  font-weight: bold;
}

.btn:hover {
  background-color: #9d7650;
}

/* RODAPÉ */
.rodape {
  text-align: center;
  padding: 20px;
  color: #666;
}

/* RESPONSIVO */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    gap: 15px;
    padding: 20px;
  }

  .header nav {
    flex-wrap: wrap;
    justify-content: center;
  }

  .hero h1 {
    font-size: 34px;
  }

  .hero p {
    font-size: 18px;
  }
}